@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif !important;
}
html{
    font-family: 'Poppins', sans-serif !important;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
.col_iz{
    background-image: linear-gradient(#90b039,#cce285);
    height: unset;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff0 !important;
    border: 1px solid #dee2e600 !important;
    border-radius: .25rem;
    max-width: 35%;
    height: auto;
    margin-top: 15%;

}
.bd-example-position-utils .position-absolute {
    width: 2em;
    height: 2em;
    background-color: #212529;
    border-radius: .25rem;
}
.form-signin {
    width: 100%;
    max-width: 325px;
    padding: 1px;
    margin: auto;
    margin-top: 12%;
}
.Titulo_{
    width: 80%;
    font-weight: 800;
    font-style: italic;
    line-height: 1.5;
    color: white;
}
.btn-orange {
    color: #fff;
    background-color: #ff802d;
    border-color: #74a73f;
}
.bg-green{
    background-color: #96b646!important;
    color: white !important;
}
.bg-success {
    background-color: #96b646!important;
}
